*~
*.i
*.__i
*.o
*.d
*.crf
*.pyc
*.swp
*.swm
*.swn
*.swl
*.tmp
*.swo
*.out
*.patch
*.backup
*.dep
*.elf
*.bin
*.htm
*.sct
*.txt
*.lnp
*.lef
*.scvd
*.iex
*.lst
*.map
*.xz
*.ota
customer_app/**/build_out
customer_app/**/si
tools/.idea/
tools/venv/
tools/flash_tool/__pycache__
tools/flash_tool/build
tools/flash_tool/dist
tools/flash_tool/log
tools/flash_tool/efuse_bootheader/*.bin
tools/flash_tool/img_create/*.bin
tools/flash_tool/latest_setting
tools/flash_tool/simple_flasher.spec
tools/flash_tool/*/conf/iot.toml
tools/flash_tool/*/conf/mcu.toml
tools/flash_tool/*/conf/storage.toml
tools/flash_tool/*/device_tree/ro_params.dtb
tools/flash_tool/*/eflash_loader/*.bin
tools/flash_tool/*/efuse_bootheader/*.bin
tools/flash_tool/*/efuse_bootheader/*.ini
tools/flash_tool/*/img_create/*.bin
tools/flash_tool/*/img_create/*.ini
tools/flash_tool/*/img_create2/*.ini
tools/flash_tool/*/ota/FW_OTA.bin
tools/flash_tool/*/ota/FW_OTA.bin.ota
tools/flash_tool/*/ota/FW_OTA.bin.xz
tools/flash_tool/*/ota/FW_OTA.bin.xz.hash
tools/flash_tool/*/ota/FW_OTA.bin.xz.ota
tools/flash_tool/*/partition/*.bin
cscope.files
Thumbs.db*
docs/Thumbs.db*
*.uvoptx
*.uvguix.*
*.vscode
*.dtb
.idea
TEST_LOGS
.settings
docs/zh_CH/index.rst
docs/zh_CH/*/index.rst
docs/zh_CH/*/*/index.rst
docs/zh_CH/_build
docs/zh_CH/man
docs/zh_CH/xml
docs/zh_CH/xml_in
docs/html
docs/702/zh_CH/_build
docs/702/zh_CH/man
docs/702/zh_CH/xml
docs/702/zh_CH/xml_in
tools/sdk_pub_tool/bouffalolab_release*
version.mk
components.mk
toolchain/

# MacOS
.DS_Store
__pycache__

# Format
.clang-format

.cache
