[submodule "docs"]
	path = docs
	url = https://github.com/pine64/bl602-docs.git

[submodule "components/security/mbedtls"]
	path = components/security/mbedtls
	url = https://github.com/ARMmbed/mbedtls
